@tailwind base;
@tailwind components;
@tailwind utilities;
/* width */
  ::-webkit-scrollbar{
    border-radius: 20px;
    width: 10px;
    height: 10px;
  }  
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff00;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(79, 185, 255);
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(128, 187, 255);
  }