@tailwind base;
@tailwind components;
@tailwind utilities;
/* width */
  ::-webkit-scrollbar{
    border-radius: 20px;
    width: 5px;
    height: 10px;
  }  
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff00;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(160, 217, 255);
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(119, 180, 250);
  }
*{
  margin: 0;
  padding: 0;
}